<script type="text/javascript" src="{{STATIC_URL}}opening_hours/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}opening_hours/widget.js"></script>
<script type="text/javascript">
$(document).ready(function(){

})
</script>
opening hours widget
<table>
    <tr>
        <td>Mo</td>
        <div class="inputs">
        <td><input type="text" id="mo_1_from" name="mo_1_from"></td>
        <td><input type="text" id="mo_1_to" name="mo_1_to"></td>
        </div>
        <td><a href="#"><img src="{{STATIC_URL}}admin/img/icon_addlink.gif"></a></td>
    </tr>
    <tr>
        <td>Tu</td>
        <div class="inputs">
        <td><input type="text" id="tu_1_from" name="tu_1_from"></td>
        <td><input type="text" id="tu_1_to" name="tu_1_to"></td>
        </div>
        <td><a href="#"><img src="{{STATIC_URL}}admin/img/icon_addlink.gif"></a></td>
    </tr>
    <tr>
        <td>We</td>
        <div class="inputs">
        <td><input type="text" id="we_1_from" name="we_1_from"></td>
        <td><input type="text" id="we_1_to" name="we_1_to"></td>
        </div>
        <td><a href="#"><img src="{{STATIC_URL}}admin/img/icon_addlink.gif"></a></td>
    </tr>
    <tr>
        <td>Th</td>
        <div class="inputs">
        <td><input type="text" id="th_1_from" name="th_1_from"></td>
        <td><input type="text" id="th_1_to" name="th_1_to"></td>
        </div>
        <td><a href="#"><img src="{{STATIC_URL}}admin/img/icon_addlink.gif"></a></td>
    </tr>
    <tr>
        <td>Fr</td>
        <div class="inputs">
        <td><input type="text" id="fr_1_from" name="fr_1_from"></td>
        <td><input type="text" id="fr_1_to" name="fr_1_to"></td>
        </div>
        <td><a href="#"><img src="{{STATIC_URL}}admin/img/icon_addlink.gif"></a></td>
    </tr>
    <tr>
        <td>Sa</td>
        <div class="inputs">
        <td><input type="text" id="sa_1_from" name="sa_1_from"></td>
        <td><input type="text" id="sa_1_to" name="sa_1_to"></td>
        </div>
        <td><a href="#"><img src="{{STATIC_URL}}admin/img/icon_addlink.gif"></a></td>
    </tr>
    <tr>
        <td>Su</td>
        <div class="inputs">
        <td><input type="text" id="su_11_from" name="su_1_from"></td>
        <td><input type="text" id="su_11_to" name="su_1_to"></td>
        </div>
        <td><a href="#"><img src="{{STATIC_URL}}admin/img/icon_addlink.gif"></a></td>
    </tr>
</table>