<style type="text/css">
.time {
    width: 40px;
}
.hover { cursor: hand; cursor: pointer; }
</style>

<script type="text/javascript">
    if ($ == undefined) {
        try {
            $ = django.jQuery;
        }
        catch (Exception) {
            console.log('nope')
        }
    }

    function is_time(val){
        if (!val || !val.length){
            return true;
        }
        return val.match(/\d+:\d+/) != null && val.match(/\d+:\d+/).length == 1 && val.match(/\d+:\d+/)[0] == val;
    }

    function get_json_{{safe_name}}() {
        try {
            return JSON.parse($("#{{name}}_input_out").val());
        }
        catch (Exception){
            console.log(Exception);
        }
    }

    function set_json_{{safe_name}}(json){
        $("#{{name}}_input_out").val(JSON.stringify(json));
    }

    function dumps_{{safe_name}}(){
        console.log('dumps_{{safe_name}}');
        json = get_json_{{safe_name}}();
        var container = $("#{{name}}_opening_hours_table");
        ["mo", "tu", "we", "th", "fr", "sa", "su"].forEach(function (day) {
            input_from = container.find("."+day+"_0_from");
            val = input_from.val();
            if (json[day].length == 0) {
                json[day].push(["", ""]);
            }
            json[day][0][0] = val;
            if (is_time(val)){
                input_from.attr("style", "border: 1px solid #ccc;");
            }
            else {
                input_from.attr("style", "border: 1px solid red;");
            }

            input_to = container.find("."+day+"_0_to");
            val = input_to.val();
            json[day][0][1] = val;
            if (is_time(val)){
                input_to.attr("style", "border: 1px solid #ccc;");
            }
            else {
                input_to.attr("style", "border: 1px solid red;");
            }
        });
        set_json_{{safe_name}}(json);
    }

    function loads_{{safe_name}}(){
        json = get_json_{{safe_name}}();
        $.each(get_days(), function (day, label) {
            var value_from = '';
            var value_to = '';

            if (json && day in json && json[day].length) {
                value_from = json[day][0][0];
                value_to = json[day][0][1];
            }
            var hours_table = $("#{{name}}_opening_hours_table");
            hours_table.append("<tr class=\""+day+" day\"><td>"+label+"</td></tr>");
            hours_table.find("."+day).append(
                '<td class="{{name}}_ajax">'+
                    '<span>Od:</span><input type="text" name="'+day+'_0_from" value="'+value_from+'" class="time '+day+'_0_from">' +
                '</td>' +
                '<td class=\"{{name}}_ajax\">' +
                    '<span>Do:</span><input type="text" name="'+day+'_0_to" value="'+value_to+'" class="time '+day+'_0_to">' +
                '</td>');
        });
        set_json_{{safe_name}}(json);
    }

    function get_days(){
        return {"mo": "Poniedziałek", "tu": "Wtorek", "we": "Środa", "th": "Czwartek", "fr": "Piątek", "sa": "Sobota",
                "su": "Niedziela"};
    }

    $(document).ready(function(){
        $("#{{name}}_input_out").val($("#{{name}}_input_in").val());
        json = get_json_{{safe_name}}();
        if (! json.hasOwnProperty("first_day")) {
            json["first_day"] = "mo";
        }
        set_json_{{safe_name}}(json);
        loads_{{safe_name}}();
        setInterval(dumps_{{safe_name}}, 1000);
    })
</script>
<input id="{{name}}_input_in" type="hidden" value='{{value|safe}}'/>
<input id="{{name}}_input_out" type="hidden" name="{{name}}" value=""/>
<table id="{{name}}_opening_hours_table" class="opening-hours-multiinput"></table>
