<script type="text/javascript" src="{{STATIC_URL}}opening_hours/jquery-1.9.1.min.js"></script>
<style type="text/css">
.time {
    width: 40px;
}

.hover { cursor: hand; cursor: pointer; }
</style>
<script type="text/javascript">

function is_time(val){
    return val.match(/\d+:\d+/) != null && val.match(/\d+:\d+/).length == 1 && val.match(/\d+:\d+/)[0] == val;
}

function get_json() {
    return JSON.parse($("#{{prefix}}_input_out").val());
}

function set_json(json) {
    $("#{{prefix}}_input_out").val(JSON.stringify(json));
}

function add(day) {
    json = get_json()
    json[day].push(["", ""]);
    $(".{{prefix}}_ajax").remove();
    set_json(json);
    loads(json);

}

function rm(day) {
    json = get_json()
    if(confirm('remove this opening hours?')) {
        json[day].pop();
        $(".{{prefix}}_ajax").remove();
        set_json(json);
        loads(json);
    }
}

function dumps(){
    json = get_json();
    ["mo", "tu", "we", "th", "fr", "sa", "su"].forEach(function (day) {
        for (l = 0; l < json[day].length; l++) {
            val = $("#"+day+"_"+l+"_from").val();
            json[day][l][0] = val;
            if (is_time(val)){
                $("#"+day+"_"+l+"_from").attr("style", "border: 1px solid #ccc;");
            }
            else {
                $("#"+day+"_"+l+"_from").attr("style", "border: 1px solid red;");
            }

            val = $("#"+day+"_"+l+"_to").val();
            json[day][l][1] = val;
            if (is_time(val)){
                $("#"+day+"_"+l+"_to").attr("style", "border: 1px solid #ccc;");
            }
            else {
                $("#"+day+"_"+l+"_to").attr("style", "border: 1px solid red;");
            }
            
        }
    });
    set_json(json);
}

function loads(){
    json = get_json();
    ["mo", "tu", "we", "th", "fr", "sa", "su"].forEach(function (day) {
        for (l = 0; l < json[day].length; l++) {
            $("."+day).append("<td class=\"{{prefix}}_ajax\"><input type=\"text\" id=\""+day+"_"+l+"_from\" name=\""+day+"_"+l+"_from\" value=\""+json[day][l][0]+"\" class=\"time\"></td><td class=\"{{prefix}}_ajax\"><input type=\"text\" id=\""+day+"_"+l+"_to\" name=\""+day+"_"+l+"_to\" value=\""+json[day][l][1]+"\" class=\"time\"></td>")
        }
        $("."+day).append("<td class=\"{{prefix}}_ajax\"><img class=\"hover\" onclick=\"add('"+day+"');\" src=\"{{STATIC_URL}}admin/img/icon_addlink.gif\"></a>&nbsp;<img  class=\"hover\" onclick=\"rm('"+day+"');\" src=\"{{STATIC_URL}}admin/img/icon-no.gif\"></td>");
    });
    set_json(json);
}

$(document).ready(function(){
    $("#{{prefix}}_input_out").val($("#{{prefix}}_input_in").val())
    loads();
    setInterval(dumps, 100);
})
</script>
<input id="{{prefix}}_input_in" type="hidden" value="{{value}}">
<input id="{{prefix}}_input_out" type="hidden" name="{{name}}" value="">
<table>
    <tr class="mo">
        <td>Mo</td>
    </tr>
    <tr class="tu">
        <td>Tu</td>
    </tr>
    <tr class="we">
        <td>We</td>
    </tr>
    <tr class="th">
        <td>Th</td>
    </tr>
    <tr class="fr">
        <td>Fr</td>
    </tr>
    <tr class="sa">
        <td>Sa</td>
    </tr>
    <tr class="su">
        <td>Su</td>
    </tr>
</table>